@charset "utf-8";

a {
  text-decoration:none
}

ul{
   list-style:none;
   padding: 8px 12px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute; left: 50%; top: 50%;
  transform: translate(-50%, -50%); text-align: center;
  /* flex-wrap: wrap; */
  background-color: orange;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  /* padding: 8px 12px; */
  /*margin: 30 auto; */
  font-size: 40px;
}

.container_news {
  width: 30%;
  /*height: 30%; */
  flex-basis: 30%;
  border: 1px solid black;
  font-size: 20px;
}
.container_oil {
  width: 30%;
  /*height: 30%; */
  flex-basis: 30%;
  border: 1px solid black;
  font-size: 20px;
}
.container_lotto {
  width: 30%;
  /*height: 30%; */
  flex-basis: 30%;
  border: 1px solid black;
  font-size: 20px;
}
.container_weather {
  width: 30%;
  /*height: 30%; */
  flex-basis: 30%;
  border: 1px solid black;
  font-size: 20px;
}
.container_movie {
  width: 30%;
  /*height: 30%; */
  flex-basis: 50%;
  border: 1px solid black;
  font-size: 20px;
}
.container_bmi {
  width: 30%;
  /*height: 30%; */
  flex-basis: 30%;
  border: 1px solid black;
  font-size: 20px;
}
.container_mini {
  width: 30%;
  /*height: 30%; */
  flex-basis: 30%;
  border: 1px solid black;
  font-size: 20px;
}
.container_chet {
  width: 30%;
  /*height: 30%; */
  flex-basis: 30%;
  border: 1px solid black;
  font-size: 20px;
}
.container_member {
  width: 30%;
  /*height: 30%; */
  flex-basis: 30%;
  border: 1px solid black;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }
  .container {
    height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 8px 12px;
    margin: 30 auto;
  }
  .container_news {
    width: 80%;
    /* height: 50%; */
    border: 1px solid black;
  }
  .container_oil {
    width: 80%;
    /* height: 50%; */
    border: 1px solid black;
  }
  .container_lotto {
    width: 80%;
    /* height: 50%; */
    border: 1px solid black;
  }
  .container_weather {
    width: 80%;
    /* height: 50%; */
    border: 1px solid black;
  }
  .container_movie {
    width: 80%;
    /* height: 50%; */
    border: 1px solid black;
  }
  .container_bmi {
    width: 80%;
    /* height: 50%; */
    border: 1px solid black;
  }
  .container_mini {
    width: 80%;
    /* height: 50%; */
    border: 1px solid black;
  }
  .container_chet {
    width: 80%;
    /* height: 50%; */
    border: 1px solid black;
  }
  .container_member {
    width: 80%;
    /* height: 50%; */
    border: 1px solid black;
  }
}
