{% extends "infoweb/base.html" %}
{% load static %}
{% block content %}
<h1>BMI Test</h1>
<hr>
<form action="{% url 'bmi' %}" method="post">
    {% csrf_token %}
    키를 입력하세요 : <input type="text" name="h"> cm<br><br>
    몸무게를 입력하세요 : <input type="text" name="w"> kg<br><br>
    <input type="submit" class="btn btn-success" value="측정하기">
</form>
<br>
{% if rs %}
BMI : {{ rs }}<br>
{{ bmi }}
{% endif %}
<br><br>
<a href="{% url 'home' %}"><input type="button" class="btn btn-info" value="홈으로"></a>
<br>
{% endblock %}