{% extends "infoweb/base.html" %}
{% load static %}
{% block content %}
<div class="my_title">
    <h1>게시판</h1>
</div>
<br>
<div class="article">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Name</th>
        <th>Date</th>
      </tr>
    </thead>
      <tbody>
        {% for list in msglist %}
        <tr class="table-info">
        <td><a  class="board" href="{% url 'msg_detail' list.pk %}">{{list.title}}</a></td>
        <td><a href="{% url 'msg_detail' list.pk %}">{{list.name}}</a></td>
        <td><a href="{% url 'msg_detail' list.pk %}">{{list.regdate}}</a></td>
      </tr>
    {% endfor %}
      </tbody>
</table>

  <a href="{% url 'msg_write' %}">
  <input type="button" class="btn btn-success" value="작성하기">
  </a>
  <br>
  </div>
  <br>
  <a href="{% url 'home' %}"><input type="button" class="btn btn-info" value="홈으로"></a>

{% endblock %}