{% extends "infoweb/base.html" %}
{% load static %}
{% block content %}
    <h1>Login</h1>
    <hr>
    {% if request.session.user_username is not None %}
<h3>{{ request.session.user_username }}님 환영합니다~!!</h3>
    <br><br>
    {% else %}
    <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
<!--        {{ form.as_p }}-->
    ID : <input type="text" name="uid"><br><br>
    PW : <input type="password" name="upw"><br><br>
        <input type="submit" class="btn btn-success" value="로그인">
    <a href="{% url 'join' %}">
        <input type="button" class="btn btn-success" value="가입하기">
    </a>
    </form>
    {% endif %}
    {{ text }}
    <br><br>
    <a href="{% url 'home' %}"><input type="button" class="btn btn-info" value="홈으로"></a>
    <br>
{% endblock %}