{% extends "infoweb/base.html" %}
{% load static %}
{% block content %}
    <h1>Lotto</h1>
    <hr>
    <p>{{ date }}</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="win_num">당첨번호</th>
            <th scope="bonus">보너스</th>
            </tr>
        </thead>
        <tbody>
        <tr>
              <td>
                  {% for lotto in data_list %}
                  {{lotto}}
                  {% endfor %}
              </td>
            <td>{{bonus}}</td>
            </tr>
        </tbody>
     </table>
    {% for lotto in data_list %}
    {{lotto}}
    {% endfor %} + {{bonus}}
    <br><br>
    <a href="{% url 'home' %}"><input type="button" class="btn btn-info" value="홈으로"></a>
    <br>
{% endblock %}