{% extends "infoweb/base.html" %}
{% load static %}
{% block content %}
    <h1>혀니가 추천하는 번호</h1>
    <hr>
<!--    <table class="table table-hover">-->
<!--      <thead>-->
<!--        <tr>-->
<!--          <th scope="lotto_num">혀니가 추천하는 번호</th-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr>-->
<!--              <td>-->
<!--                  {% for num in lottonum %}-->
<!--                  {{num}}-->
<!--                  {% endfor %}-->
<!--              </td>-->
<!--            </tr>-->
<!--        </tbody>-->
<!--     </table>-->
    <h1>
    {% for num in lottonum %}
     {{num}}
     {% endfor %}
    </h1>
    <br><br>
    <a href="{% url 'lotto' %}"><input type="button" class="btn btn-info" value="뒤로"></a>
    <br>
{% endblock %}