{% extends "infoweb/base.html" %}
{% load static %}
{% block content %}
<div  class="form-group">
  <h1>Member List</h1>
  <br>
  <table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>PW</th>
        <th>성</th>
        <th>이름</th>
      <th>E-mail</th>
        <th>Phone</th>
        <th scope="regdate">가입일</th>
    </tr>
  </thead>
        <tbody>
        {% for mem in memlist %}
          <tr class="table-warning">
          <td>{{mem.username}}</td>
          <td>{{mem.password}}</td>
              <td>{{mem.last_name}}</td>
              <td>{{mem.first_name}}</td>
          <td>{{mem.email}}</td>
          <td>{{mem.phone}}</td>
          <td>{{mem.regdate}}</td>
        </tr>
      {% endfor %}
        </tbody>
  </table>
  <a href="{% url 'mypage' %}"><input type="button" class="btn btn-info" value="뒤로"></a>
  <br>
</div>
{% endblock %}