{% extends "infoweb/base.html" %}
{% load static %}
{% block content %}
<div  class="container_mini">
    <div  class="form-group">
        <h1>Message</h1>
        <br>
        <table class="table table-hover">
      <thead>
        <tr>
          <th scope="title">Title</th>
          <th scope="name">Name</th>
          <th scope="date">Date</th>
        </tr>
      </thead>
            <tbody>
            {% for list in msglist %}
             <tr>
              <td><a href="{% url 'detail' list.id %}}">{{list.title}}</a></td>
              <td>{{list.name}}</td>
              <td>{{list.regdate}}</td>
            </tr>
          {% endfor %}
            </tbody>
     </table>

        <button type="button" class="btn btn-success" onclick="location.href='write'">Write</button>
        <br><br>
        <a href="{% url 'home' %}">[ HOME ]</a>
    </div>
</div>
{% endblock %}