{% extends "infoweb/base.html" %}
{% load static %}
{% block content %}
    <div class="my_title">
        <h1>Message View</h1>
    </div>
    <hr>
<div class="article">
    <form action="{% url 'board_modify' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="board_id" value="{{ msg.id }}">
        Title : <input class="form-control"  type="text" name="title" value="{{ msg.title }}"><br>
        Name : <input class="form-control"  type="text" name="name" value="{{ msg.name }}"><br>
        Content : <textarea class="form-control" id="exampleTextarea" rows="8" name="contents">{{ msg.contents }}</textarea><br>
        <br><br>
        <input type="submit" class="btn btn-success" value="수정하기">
    <!--        <a href="{% url 'board_del' %}">-->
    <!--        <input type="button" class="btn btn-danger" value="삭제하기">-->
    <!--        </a>-->
    </form>
    <br>
    <form action="{% url 'board_del' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="board_id" value="{{ msg.id }}">
        <input type="submit" class="btn btn-danger" value="삭제하기">
    </form>

    <br>
</div>
    <br>
    <a href="{% url 'board' %}"><input type="button" class="btn btn-info" value="뒤로"></a>
    <br>
{% endblock %}