{% extends "infoweb/base.html" %}
{% load static %}
{% block content %}
    <div class="my_title">
        <h1>Message Write</h1>
    </div>
    <hr>
<div class="article">
    <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-success" value="Write">
        <a href="{% url 'board' %}">
        <input type="button" class="btn btn-warning" value="Back">
    </a>
   </form>
    <br>
</div>
<br>
    <a href="{% url 'home' %}"><input type="button" class="btn btn-info" value="홈으로"></a>
    <br>
{% endblock %}