{% extends "infoweb/base.html" %}
{% load static %}
{% block content %}
    <h1>My Page</h1>
    <hr>
    {% if request.session.user_username is None %}
    <h1>로그인이 필요합니다.</h1>
    <br>
    <a href="{% url 'member' %}">
    <input type="button" class="btn btn-info" value="로그인하기"></a>
    {% else %}
    <form action="{% url 'mem_del' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="sid" value="{{ request.session.user_id }}">
    <img src="{% static 'img/mypage.svg' %}" width="150" height="150" ><br><br>
    <a href="{% url 'mem_modify' %}">
    <input type="button" class="btn btn-success" value="정보수정">
    </a>
    <a href="{% url 'memlist' %}">
    <input type="button" class="btn btn-success" value="회원목록">
    </a>
    <input type="submit" class="btn btn-danger" value="회원탈퇴">
    </form>
    <br><br>
    <a href="{% url 'home' %}"><input type="button" class="btn btn-info" value="홈으로"></a>
    <br>
    {% endif %}
{% endblock %}