{% extends "infoweb/base.html" %}
{% load static %}
{% block content %}
<div class="my_title">
    <h1>My Tube</h1>
</div>
    <hr>
<div class="article">
    <form method="POST">
        {% csrf_token %}
            Title : <input type="text" name="title" id="title" placeholder="Title">
            <br><br>
            "https://www.youtube.com/watch?v=fE2h3lGlOsk" --> ?v= 뒷부분<br>
            Video Key : <input type="text" name="video_key" id="video_key" placeholder="Video Key">
        <br><br>
        <button type="submit">올리기</button>
    </form>

    <br>
</div>
    <br>
    <a href="{% url 'mytube' %}"><input type="button" class="btn btn-info" value="뒤로"></a>
    <br>
{% endblock %}
</html>